[Desktop Entry]
Version=1.0
Type=Application
Name=X-Flow Canvas Host
Comment=Sovereign Multi-OS Canvas Host & Polyglot Engine
Exec=flowork-launcher %k
Icon=x-flow
Terminal=false
Categories=Development;
StartupNotify=true
StartupWMClass=127.0.0.1
